---
import Github from "./icons/github.astro";

import Linkedin from "./icons/Linkedin.astro";


---
<footer >
    <nav>
        <ul>
                <li><a href=""></a></li>
                <li class="lnk-background"><a class="lnk" href=""><Linkedin/a></li>
                <li><a class="git" href="https://github.com/Samuel-lar-enr"><Github/a></li>
                <li><a href=""></a></li>

        </ul>
    </nav>
</footer>
<style>
    footer {
        margin-top: 84px;
        width: 100%;
        background-color: rgb(49, 23, 23) ;
        color: white ;
        display: flex;
        flex-direction: column ;
        align-items: center ;
        
    }
    ul{
        width: fit-content;
       padding: 16px;
       display:  flex;
       flex-direction: row;
       gap: 16px;
        align-items: center;
        
    }

    li{
        list-style-type: none;
    }
    
    .git{
        color: rgb(132, 0, 255);
    }
    .lnk{
        color: white ;
        
    }
    .lnk-background{
        background-color: blue;
        background-origin: padding-box;
        border-radius: 25%;
    }

</style>